@model ObracunPlaca.Models.Djelatnici

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Djelatnici</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrezimeDjelatnika)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrezimeDjelatnika)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImeDjelatnika)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImeDjelatnika)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OpisRadnogMjesta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OpisRadnogMjesta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DatumZaposlenja)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DatumZaposlenja)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SifraDjelatnika)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SifraDjelatnika)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BrutoPlacaDjelatnika)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BrutoPlacaDjelatnika)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
